<% layout("/layouts/boilerplate")%>
<body>
 
  <h3>All Listings</h3>
  <!-- <form method="GET" action="/listing/new">
    <button>Create New Listing</button>
  </form> -->

  <div class="row row-cols-lg-3 row-cols-md-2 row-col-sm-1">
    <% for(let listing of allListings) { %>
      <a href="/listing/<%=listing._id%>" class="listing-links">
<div class="card col listing-card" >
         <img src="<%=listing.image%>" class="card-img-top" style="height:20rem;" alt="...">

         <div class="card-img-overlay"></div>
       <div class="card-body">
         <p class="card-text">
       <b> <%=listing.title%> </b><br> 
           &#8377; <%=listing.price.toLocaleString("en-IN")%> / night
        </p>
       </div>
     </div>
      </a>
     <% }%>
  </div>
 
  <%if(totalPages>1){ %>
     <div class="d-flex justify-content-center mt-4">
      <% if(currentPage > 1) { %>
      <a href="/listing?page=<%= currentPage - 1 %>" class="btn btn-outline-dark me-2">
        &larr; Previous
      </a>
    <% } %>
     <span class="btn btn-dark disabled">
      Page <%= currentPage %> of <%= totalPages %>
    </span>
    <% if(currentPage < totalPages) { %>
      <a href="/listing?page=<%= currentPage + 1 %>" class="btn btn-outline-dark ms-2">
        Next &rarr;
      </a>
    <% } %>
     </div>
  <%}%>

</body>
</html>